snippet fe "forEach snippet"
$1.forEach(${1/^(.).+/$1/} => $3)
endsnippet

snippet fl "filter snippet"
$1.filter(${1/^(.).+/$1/} => $3)
endsnippet

snippet rd "reduce snippet"
$1.reduce(${1/^(.).+/$1/} => $3)
endsnippet

snippet fd "find snippet"
$1.find(${1/^(.).+/$1/} => $3)
endsnippet

snippet sm "some snippet"
$1.some(${1/^(.).+/$1/} => $3)
endsnippet

snippet ev "every snippet"
$1.every(${1/^(.).+/$1/} => $3)
endsnippet

snippet mp "map snippet"
$1.map(${1/^(.).+/$1/} => $3)
endsnippet
