#loops

snippet forof "for..of loop"
for(let $1 of $2){
  $3
}
$4
endsnippet

snippet forin "for..in loop"
for(let $1 in $2){
  $3
}
$4
endsnippet

snippet for "classic for loop"
for(let i=0; i<$1; i++){
  $2
}
$3
endsnippet

snippet wh "while loop"
while($1){
  $2
}
$3
endsnippet
